.main-header{ -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.12); -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.12); box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.12);}
.skin-blue .navbar-custom-menu .navbar-nav > li {margin-left: 25px;}
.skin-blue .navbar-custom-menu .far{ font-size: 20px; padding-top: 11px;}
.skin-blue  .navbar-custom-menu .label{text-align: center; padding: 5px 5px; line-height: 1;border-radius: 100%;
    min-width: 20px; min-height: 20px; display: inline-block; position: absolute; right:-12px; top:-2px;}
.navbar-custom-menu .user-menu .user-name{ margin-top: 6px; margin-right: 5px; display: inline-block;}
.skin-blue .main-header .navbar .nav .dropdown.open > a{ background: #57607d;}
.skin-blue .main-header .navbar .nav .dropdown.open .fa-angle-down{-webkit-transform: rotate(-180deg); transform: rotate(-180deg);}
.navbar-nav > .user-menu > .dropdown-menu{ padding-top: 0;}

@media (max-width: 767px) {
    .skin-blue .navbar-custom-menu .navbar-nav > li{ margin-right: 10px;}
    .navbar-custom-menu .navbar-nav > li > a { padding-top: 18px; padding-bottom: 0; }
    .navbar-custom-menu .far { padding-top: 2px;}
    .skin-blue .navbar-custom-menu .navbar-nav > li .fa {color: #fff; margin-left: 10px;}
}
