.skin-blue .sidebar-menu > li > a{ border-left: 0}
.skin-blue .sidebar-menu > li > .treeview-menu{ margin: 0;}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side { background:#402772 url("../../assets/images/menu-left-bg.jpg") no-repeat top right; }
.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a{  color: #fff;} 
.skin-blue .navbar-nav > .notifications-menu > .dropdown-menu { width: 280px!important; padding: 0 0 0 0; margin: 0; top: 100%;}

.skin-blue .sidebar-menu > li > a {padding: 20px 0px; display: block; text-align: center; font-size: 12px; }
.skin-blue .sidebar-menu > li > a .main-icon {font-size: 25px; }
.skin-blue .sidebar-menu > li > a > .fa, .sidebar-menu > li > a > .glyphicon, .sidebar-menu > li > a > .ion{ width: auto;}

.skin-blue  .sidebar-menu > li > a > span{  display: block !important; position: relative}

@media (min-width: 767px) {
    .sidebar-mini .sidebar-menu > li > a > span .fa{ font-size: 15px; position: absolute; right: 9px; top: -42px;}
}


.skin-blue .main-sidebar,
.skin-blue .left-side{  width: 90px;}

@media (max-width: 767px) {

    .skin-blue .sidebar-menu > li > a > span{  display: inline-block !important;}
    .skin-blue .sidebar-menu > li > a { padding: 10px 10px; text-align: left; }
    .skin-blue .sidebar-menu > li .static-text br{ display: none;}
    .skin-blue .sidebar-menu li > a > .pull-right-container {position: absolute; right: 10px; top: 50%; margin-top: -7px; }
    .skin-blue .sidebar-menu > li > a .main-icon {font-size: 12px; }
    .skin-blue .sidebar-mini .sidebar-menu > li > a > span{display: inline-block !important;}  
    .skin-blue .sidebar-open .main-sidebar,
    .skin-blue .sidebar-open .left-side{  width: 230px;}
    .skin-blue .sidebar-open .sidebar-menu > li > a > span,
    .skin-blue .sidebar-mini .sidebar-menu > li > a > span { margin-left: 2px;  }
    .skin-blue .main-sidebar,
    .skin-blue .left-side{  width: 0;}
    .skin-blue .sidebar-menu li.active > a > .fa-angle-right, 
    .skin-blue .sidebar-menu li.active > a > .pull-right-container > .fa-angle-right {
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
}