.skin-blue .sidebar-menu > li > a{ border-left: 0}
.skin-blue .sidebar-menu > li > .treeview-menu{ margin: 0;}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side { background:#5225b5 /*url("../../assets/images/menu-left-bg.jpg") no-repeat top right;*/ }
.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a{  color: #fff;} 
.skin-blue .sidebar-menu > li:hover > a img, .skin-blue .sidebar-menu > li.active a img{ filter: brightness(0) invert(1);} 
.skin-blue .navbar-nav > .notifications-menu > .dropdown-menu { width: 280px!important; padding: 0 0 0 0; margin: 0; top: 100%;}

.skin-blue .sidebar-menu > li > a {padding: 20px 0px; display: block; text-align: center; font-size: 12px; }
.skin-blue .sidebar-menu > li > a .main-icon { width: 30px; height: 30px; }
.skin-blue .sidebar-menu > li > a > .fa, .sidebar-menu > li > a > .glyphicon, .sidebar-menu > li > a > .ion{ width: auto;}

.skin-blue  .sidebar-menu > li > a > span{  display: block !important; }

.skin-blue .sidebar-menu > li > a .main-icon-active { width: 30px; height: 30px; display: none; margin: 0 auto;}

/* IE11 */
@media all and (-ms-high-contrast:none)
     {
     *::-ms-backdrop, .skin-blue .sidebar-menu > li > a:hover .main-icon {display: none } /* IE11 */
     *::-ms-backdrop, .skin-blue .sidebar-menu > li > a:hover .main-icon-active { display: block; }/* IE11 */
     *::-ms-backdrop, .skin-blue .sidebar-menu > li.active a .main-icon {display: none } /* IE11 */
     *::-ms-backdrop, .skin-blue .sidebar-menu > li.active a .main-icon-active { display: block; }/* IE11 */
     }
/* IE11 */

@media (min-width: 767px) {
    .sidebar-mini .sidebar-menu > li > a > span .fa{ font-size: 15px; position: absolute; right: 9px; top:50%;}
}

.skin-blue .main-sidebar,
.skin-blue .left-side{  width: 90px;}

@media (max-width: 767px) {
    .skin-blue .sidebar-menu > li > a > span{  display: inline-block !important;}
    .skin-blue .sidebar-menu > li > a { padding: 10px 10px; text-align: left; }
    .skin-blue .sidebar-menu > li .static-text br{ display: none;}
    .skin-blue .sidebar-menu li > a > .pull-right-container {position: absolute; right: 10px; top: 50%; margin-top: -7px; }
    .skin-blue .sidebar-menu > li > a .main-icon { /*font-size: 12px;*/  width: 20px; height: 20px; margin-right: 5px; }
    .skin-blue .sidebar-mini .sidebar-menu > li > a > span{display: inline-block !important;}  
    .skin-blue .sidebar-open .main-sidebar,
    .skin-blue .sidebar-open .left-side{  width: 230px;}
    .skin-blue .sidebar-open .sidebar-menu > li > a > span,
    .skin-blue .sidebar-mini .sidebar-menu > li > a > span { margin-left: 2px;  }
    .skin-blue .main-sidebar,
    .skin-blue .left-side{  width: 0;}
    .skin-blue .sidebar-menu li.active > a > .fa-angle-right, 
    .skin-blue .sidebar-menu li.active > a > .pull-right-container > .fa-angle-right {
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
}