.skin-blue{ background: #57607d;}
.has-feedback .form-control { padding-right: 42.5px; }
.form-control { display: block; width: 100%; height: 34px; padding: 6px 12px; padding-right: 12px; font-size: 14px;
  line-height: 1.42857143; color: #555; background-color: #fff; background-image: none; border: 1px solid #d2d6de; -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.login-box-body .form-control { border-radius: 0; box-shadow: none; border-color: #d2d6de; }
.login-box-body .form-control:focus { border-color: #3c8dbc;  box-shadow: none; }
.login-help{ font-size: 12px;}
.login-box-body .btn-primary { background-color: #57607d; border-color: #57607d; background-image:none; color: #fff; }
.login-box-body .btn-primary:hover,
.login-box-body .btn-primary:active,
.login-box-body .btn-primary.hover,
.login-box-body .btn-primary:active:hover { background-color: #474f67; background-image:none}
.login-box .help-block{color: #fa4044; font-size: small;}

.has-feedback label{ color: #dd4b39; font-size: 12px; font-weight: normal;}
